@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'CircularStd';
    src: url('/public/fonts/CircularStd-Bold.woff') format('woff');
  }

  html {
    font-family: inter;
  }
}
